* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 400px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.toggle-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.toggle-buttons button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #4a90e2;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.toggle-buttons button:hover {
    background-color: #357ABD;
}

.form {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

form h2 {
    margin-bottom: 10px;
    text-align: center;
    color: #333;
}

form input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    padding: 10px;
    border: none;
    background-color: #4a90e2;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #357ABD;
}

#loginMessage, #signupMessage {
    text-align: center;
    color: red;
}

